<div class="container">
                         
  <form >
      
<div class="row">
    <div class="col-sm-8"><h3><i class="bi bi-mortarboard-fill"></i>&nbsp;&nbsp;&nbsp;Educational Details </h3></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="col-md-1">
        <div style="color: blue;  font-size: 15px; text-align: center; padding-inline-end: 8px"> <i class="bi bi-plus-circle-fill"></i>&nbsp;Add</div>
        
  
      </div>

  
  <div class="col-md-5">
    &nbsp;<label for="Employee"><b>Course Pursued</b></label>
    <input type="text" class="form-control" placeholder="Select Course " name="Employee">
    <span class="error">Required</span>
  </div>
  
  <div class="col-md-5">
    &nbsp;<label for="Employee"><b>Name of the College Institution</b></label>
    <input type="text" class="form-control" placeholder="Name of the College Institution" name="Employee">
    <span class="error">Required</span><br><br>
  </div>
  
  <div class="col-md-3">
    &nbsp;<label for="Employee"><b>Duration</b></label>
    <input type="text" class="form-control" placeholder="From" name="Employee">
    <span class="error">Required</span>
  </div>
  <div class="col-md-3">
    &nbsp;<label for="Employee"><b></b></label>
    <input type="text" class="form-control" placeholder="To" name="Employee">
    <span class="error">Required</span>
  </div>
  <div class="col-md-4">
    &nbsp;<label for="Employee"><b>CGPA obtained  </b></label>
    <input type="text" class="form-control" placeholder="CGPA obtained" name="Employee">
    <span class="error">Required</span><br><br>
  </div><br><br><br><br>
  <hr>
  </div>
  </form>
  </div>