<mat-toolbar color="primary">

  <mat-toolbar-row>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span>CAREERS</span>



    <span class="example-spacer"></span>
    <mat-icon>account_circle</mat-icon> &nbsp;&nbsp; <div class="name">Arul Subramani</div>
  </mat-toolbar-row>
</mat-toolbar>
<br>

<h2>Update Profile</h2>

<div class="container">



  <ul class="nav nav-tabs">

    <li class="nav-item ">  <br>  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
      <a routerLink="" class="menulink"><i class="bi bi-record-fill"></i>General</a>

      &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
      <a routerLink="employee" class="menulink"><i class="bi bi-record-fill"></i>Educational</a>
      &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
      <a routerLink="skillset" class="menulink"><i class="bi bi-check-square-fill"></i>Skillset</a>
      &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
      <a routerLink="professional" class="menulink"><i class="bi bi-record-fill"></i>Professional</a>



      <hr>
    <router-outlet></router-outlet>








