<div class="container">
                         
    <form >
        <div class="row">
            
    <div class="col-sm-8"><h3><i class="bi bi-calculator-fill"></i>&nbsp;&nbsp;&nbsp;Professional Details </h3></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="col-md-1">
        <div style="color: blue;  font-size: 15px; text-align: center; padding-inline-end: 8px"> <i class="bi bi-plus-circle-fill"></i>&nbsp;Add</div>
    
      </div>

  <div class="col-md-10">
    &nbsp;<label for="Employee"><b>Company Name</b></label>
    <input type="text" class="form-control" placeholder="Company Name " name="Employee">
    <span class="error">Required</span>
  </div>
  
  
  <br><div class="col-md-3">
    &nbsp;<label for="Employee"><b>Duration</b></label>
    <input type="text" class="form-control" placeholder="From" name="Employee">
    <span class="error">Required</span>
  </div>
  
  <div class="col-md-3">
    &nbsp;<label for="Employee"><b></b></label>
    <input type="text" class="form-control" placeholder="To" name="Employee">
    <span class="error">Required</span>
  </div>
  
  <div class="col-md-4">
    &nbsp;<label for="Employee"><b>Role/Title </b></label>
    <input type="text" class="form-control" placeholder="CGPA obtained" name="Employee">
    <span class="error">Required</span><br><br>
  </div>
  
  <br><br><div class="col-md-5">
    &nbsp;<label for="Employee"><b>Reason for change</b></label>
    <input type="text" class="form-control" placeholder="Reason for change " name="Employee">
    <span class="error">Required</span>
  </div>
  
  <div class="col-md-5">
    &nbsp;<label for="Employee"><b>Total years of experience</b></label>
    <input type="text" class="form-control" placeholder="Total years of experience " name="Employee">
    <span class="error">Required</span><br><br>
  <br></div>
  
  <hr>
  
  <div class="row">
    <h3>Other details </h3>
  
    <div class="col-md-5">
      &nbsp;<label for="Employee"><b>Additional qualification/ Achievements</b></label>
      <input type="text" class="form-control" style=" padding:30px; text-align: left ; " name="Employee">
    <br><br></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><br>
        
  
  <div class="col-md-5">
      &nbsp;<label for="passport"><b>Are you physically Challenged?</b></label><br><br>
    <label for="yes" class="radio-inline"><input type="radio" name="passport" id="male">    <b>      Yes</b></label> &nbsp;&nbsp;&nbsp;&nbsp;
        <label for="no" class="radio-inline"><input type="radio" name="passport" id="no">    <b>     No</b></label>&nbsp;&nbsp;&nbsp;&nbsp;
    
    </div>
    
    <div class="col-md-5">
      &nbsp;<label for="passport"><b>Have you suffered from any serious illness or surgical ?</b></label><br><br>
    <label for="yes" class="radio-inline"><input type="radio" name="passport" id="male">    <b>      Yes</b></label> &nbsp;&nbsp;&nbsp;&nbsp;
        <label for="no" class="radio-inline"><input type="radio" name="passport" id="no">    <b>     No</b></label>&nbsp;&nbsp;&nbsp;&nbsp;
        <br><br>
    </div>
  
    <div class="col-md-5">
      &nbsp;<label for="passport"><b>Have you ever been arrested ?</b></label><br><br>
    <label for="yes" class="radio-inline"><input type="radio" name="passport" id="male">    <b>      Yes</b></label> &nbsp;&nbsp;&nbsp;&nbsp;
        <label for="no" class="radio-inline"><input type="radio" name="passport" id="no">    <b>     No</b></label>&nbsp;&nbsp;&nbsp;&nbsp;
        <br><br>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  
    <div class="col-md-5">
      &nbsp;<label for="passport"><b>Have you ever been considered for employment in  OFS ?</b></label><br><br>
    <label for="yes" class="radio-inline"><input type="radio" name="passport" id="male">    <b>      Yes</b></label> &nbsp;&nbsp;&nbsp;&nbsp;
        <label for="no" class="radio-inline"><input type="radio" name="passport" id="no">    <b>     No</b></label>&nbsp;&nbsp;&nbsp;&nbsp;
        <br><br>
    </div>
  </div>
    <hr>
  
    <h4><b>References (List any two professional reference)</b></h4>
  
    <div class="row">
      <div class="col-md-8"><h4></h4></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="col-md-1">
          <button type="button" class="btn btn-primary" style="color: white; background-color: blue; font-size: 15px; text-align: center; padding-inline-end: 8px">Add </button>
          
        </div>
  </div><br><br>
  <div class="col-md-10">
    <table class="table table-striped"  >
      <thead style="background-color: #e6e6ff">
        <tr>
          <th class="col-md-3" style="font-size: 16px;">Full Name </th>
          <th class="col-md-4" style="font-size: 16px;">Professional Relationship</th>
          <th class="col-md-3"style="font-size: 16px;">Contact No</th>
          <th class="col-md-5" style="font-size: 16px;" > Business/Occupation</th>
          <th class="col-md-3" style="font-size: 16px;" > Action</th>
        </tr>
      </thead>
      <tbody>
  
        <tr>
          <td style="font-family: Arial, Helvetica, sans-serif;">Ramesh</td>
          <td style="font-family: Arial, Helvetica, sans-serif;">Project Manager</td>
          <td style="font-family: Arial, Helvetica, sans-serif;">9791093818</td>
          <td style="font-family: Arial, Helvetica, sans-serif;">Software</td>
          
          <td>
        
            <button type="button" class="btn btn-primary" style="background-color: #009900; font-size: 8px; padding-inline-end: 8px;"><i class="bi bi-pencil-fill" style="color: white; font-size: 15px; text-align: center;"></i></button>&nbsp;
            <button type="button" class="btn btn-primary" style="background-color: #e60000; font-size: 10px; padding-inline-end: 10px;"><i class="bi bi-trash" style="color: white; font-size: 15px; text-align: center;"></i></button>
            
          </td>
        </tr>
        
        <tr>
          <td style="font-family: Arial, Helvetica, sans-serif;">Akila</td>
          <td style="font-family: Arial, Helvetica, sans-serif;">Team Member </td>
          <td style="font-family: Arial, Helvetica, sans-serif;">9094263032 </td>
          <td style="font-family: Arial, Helvetica, sans-serif;">Software</td>
          
          <td>
        
            <button type="button" class="btn btn-primary" style="background-color: #009900; font-size: 8px; padding-inline-end: 8px;"><i class="bi bi-pencil-fill" style="color: white; font-size: 15px; text-align: center;"></i></button>&nbsp;
            <button type="button" class="btn btn-primary" style="background-color: #e60000; font-size: 10px; padding-inline-end: 10px;"><i class="bi bi-trash" style="color: white; font-size: 15px; text-align: center;"></i></button>
            
          </td>
        </tr>
  
      </tbody>
      </table>
      <br><br></div>
   
  <div>
  
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">
         <b> I hereby certify that statement I made above is true, complete and correct to the best of my knowledge and belief.</b>
        </label>
      </div>
    </div>
  <br><br>
    <div class="col-md-5"><button type="button" class="btn btn-primary">Submit</button></div>
              </div>
            </form>
            </div>
